
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style-type: none;
}
.navItem > a{
  display: inline-block;
  padding: 0 24px;
}

/*header  -- .header có thuộc tính top 0% rất quan trọng nếu không có các phần tử relative sẽ nhảy lên nhau*/ 
.header{
  position: fixed;
  background-color: #000;
  width: 100%;
  top: 0;
  line-height: 46px;
  z-index: 1;
}
.navBar{
  display: inline-block;
  padding: 0;
}
.navItem{
  display: inline-block;
  color: #fff;
}
.navItem>a{
  color: #fff;
  display: inline-block;
}
.navItem:hover{
  background-color: #ccc;
  cursor: pointer;
}

.navItem:hover .sub-NavItem{
  display: block;
  background-color: #fff
}

.dropdown{
  position: relative;
}

.dropdown:hover .sub-NavBar{
  display:block;
}

.dropdown .sub-NavItem > a{
  color: #000;
  display: block;
  padding: 0 24px 0 16px;
}
.sub-NavItem:hover{
  background-color: #ccc !important;
}
.sub-NavBar{
  display: none;
  position: absolute;
  left:0;
  padding-left: 0;
}

.header-Button__Search{
  color: #fff;
  float: right;
  line-height:46px;
  padding: 0 24px;
}
.header-Button__Search:hover{background-color: rgb(233, 57, 57)}

.header-Button__Menu{
  color: #fff;
  float: right;
  line-height:46px;
  padding: 0 24px;
  display:none
}
.header-Button__Menu:hover{background-color: rgb(233, 57, 57)}

/* slider --.slider chính là div để hình ảnh và là div contaier --- 
marign 46px để không bị trồng lên .header 
nhưng sao lại padding top 50%??*/
.sliders{
  padding-top: 50%;
  margin-top: 46px;
  background: url(/assets/public/chicago.jpg) top center / cover no-repeat; 
  position: relative;
}
.sliders__Message{
  position: absolute;
  bottom: 0;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 32px 16px;
}
.sliders__Message h3{margin: 10px 0;}
.sliders__Message p{margin: 15px 0;}
/*Content*/
.heading{margin: 10px 0;}
.slogan{margin: 15px 0;}
.description{margin: 15px 0; text-align: justify}

.pull-middle{
  max-width: 800px;
  margin: auto;
  padding: 64px 16px;
  text-align: center;
}

.flex-container{
  display: flex;
}

.member1 .member-name , .member2 .member-name , .member3 .member-name{
  margin: 15px 0;
}
.member1 img,.member2 img,.member3 img{
  width: 60%;
  border-radius: 5px;
}
/*TourDates*/
.tourdates-background{
  background-color: #000;
  color: #fff;
}

.tourdates .slogan{color: #ddd; font-style: italic;}
.tourdates .border-tickets{
  padding-left:0;
  text-align: left;
  background-color:#fff
}

.ticket{
  padding: 8px 16px;
  color: #000;
  border-bottom: 2px solid #ddd;
}
.ticket .soldout{
  background-color:#f44336;
  padding: 2px 8px;
  margin-left: 16px;
  color: #fff;
}

.ticket-number{
  float: right;
  background-color: #000;
  color: #ccc;
  padding: 0 8px;
  margin-right: 16px;
  font-size: 21px;
  border-radius: 50%;
}

.tour-banners{
  padding: 32px 8px;
  margin: 0 -16px;
  display: flex;
}
.tour-banners .flex-item{
  width:33%;
  background-color: #fff;
  margin: 0 8px
}
.tour1 > img,.tour2 > img,.tour3 >img {
  width: 100%;
}
.tour-description{
  text-align: left;
  padding: 0 16px;
  color:#000
}

.btn-buy{
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  border: none;
  margin-bottom: 16px
}
/* contact*/

.contact-container {
  padding: 64px 16px;
  width: 100%;
}

.contact-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}


.leaveYourInfor {
  display: flex;
  padding: 32px 0;
}

.band-infor {
  flex: 1;
  text-align: left;
  font-size: 18px;
  margin-bottom: 16px;
}
.band-infor > i {
  padding-right: 4px;
}
input + input {
  margin-left: 10px;
}
input {
  line-height: 22.5px;
  padding: 8px;
}

.your-infor {
  padding: 8px;
}

.input-message {
  padding: 8px;
}

.message {
  width: 100%;
}

.btn-send {
  float: right;
  margin: 8px 8px 16px 0px;
  border: none;
  padding: 8px 16px;
  line-height: 22.5px;
  background-color: #000;
  color: #fff;
}

.footer {
  padding: 64px 16px;
  text-align: center;
}

.footer i {
  font-size: 30px;
  padding: 0 4px;
}

.footer p,
.footer a {
  margin: 15px 0;
  color: #000;
}

.footer a {
  text-decoration: underline;
}

.hover-opacity:hover{
  opacity: 0.3;
}
